@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Documentação Projeto Elevador</h1>
    <p> Documentação com as funcionalidades e descrições do projeto final da Capacitação MIcrosoft-DEV</p>
    <p> Realização: SAMSUNG OCEAN</p>
    <P>Professor: Lucas Aragão</P>

    <p>1. <strong> Tela Inicial:</strong></p>
    <p>Na tela inicial é solicitado ao usuario que informe a capacidade máxima do elevador
    onde o mesmo informa a capacidade e logo em seguida informa a quantidade de andares que o edificio possui</p>
    <p>2. <strong> Menu Principal</strong></p>
    <p>Logo em seguida é exibido um menu principal com as opções que o usuário devera escolher dentre elas:</p>
    <p>Entrar no Elevador: o usuário somente vai entrar no elevador se a quantidade de pessoas dentro elevado for menor que a 
    capacidade total do mesmo </p>
    <p>Sair do Elevador: Somente vai sair do elevador se existir alguma pessoa dentro</p>
    <p>Informaçõea do elevador: Exibe informações como quantidade atual de pessoas entre outras informações</p>
    <p>Subir: Irá subir  desde que o andar atual seja menor que a quantidade de andares.</p>
    <p>Descer: Irá descer andares</p>
    <p>Parar: Irá parar o elevador</p>
    <p>3. <strong>Outras opções: o sistema possui sub-menus</strong></p>
    


</div>
